/*
Theme Name: WoW Guild
Theme URI: http://underscores.me/
Author: Sedama Development
Author URI: http://sedama-development.com
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wow-guild
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 WoW Guild is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

@import url('bootstrap/css/bootstrap.min.css');
@font-face {
    font-family: EuropeExtBold;
    src: url(fonts/EuropeExt-Bold.otf);
}

@font-face {
    font-family: LazurskiExpOdcBold;
    src: url(fonts/LazurskiExpOdC-Bold.otf);
}

@font-face {
    font-family: OfficinaSansBlackC;
    src: url(fonts/OfficinaSansBlackC.otf);
}

@font-face {
    font-family: MyriadProRegular;
    src: url(fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: MyriadProBoldCond;
    src: url(fonts/MyriadPro-BoldCond.otf);
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 35px;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	display:inline-block;
	position: relative;
	margin-right: 40px;
	margin-left: 40px;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	/*margin: 1.5em 0 0;*/
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
html {
	background: black;
}
body {
	background: url(images/steel.png) top no-repeat;
}

#page {
	padding: 50px;
}

#content.site-content {
	background: #272727 url(images/shadow2.png) center repeat-y;
	-webkit-box-shadow: 0px 7px 15px 0px #454545;
	-moz-box-shadow: 0px 7px 15px 0px #454545;
	box-shadow: 0px 7px 15px 0px #454545;
	opacity: .99;
}

 /*HEADER & SLIDER*/

.site-branding {
	padding-top: 20px;
	text-align: center;
}

.menu-main-container {
	background: black url(images/shadow2.png) center repeat-y;
	padding-top: 12px;
	padding-bottom: 11px;
	text-align: center;
	-webkit-box-shadow: 0px -1px 15px 1px black;
	-moz-box-shadow: 0px -1px 15px 1px black;
	box-shadow: 0px -1px 15px 1px black;
}

#menu-main a {
	color: #f5f1f1;
	font: 22px EuropeExtBold, Times New Roman;
}

#menu-main a:hover, .current-menu-item a, 
.carousel-caption, #bbpress-forums div.bbp-breadcrumb,
.carousel-inner div.item div.carousel-footer div.carousel-caption h4 a {
	color: #f58220!important;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

#main-carousel {
	-webkit-box-shadow: 0px 2px 5px 0px #454545;
	-moz-box-shadow: 0px 2px 5px 0px #454545;
	box-shadow: 0px 2px 5px 0px #454545;
	background: black;
	opacity: .99;
}

div.carousel a.left.carousel-control {
	background: url(images/shadowleft.png) left repeat-y;
}

div.carousel a.right.carousel-control {
	background: url(images/shadowright.png) right repeat-y;
}

.carousel-caption {
	font: 24px OfficinaSansBlackC, Times New Roman;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0;
}

.carousel-control {
	opacity: 1;
}

.carousel-footer {
	height: 50px;
}

.img-control {
	bottom: 10px;
	position: absolute;
}

/*CONTENT*/

#main-news {
	padding-left: 40px;
	padding-top: 30px;
	padding-right: 90px;
	text-align: center;
}

#bbpress-forums {
	padding-left: 20px;
	padding-top: 30px;
	padding-right: 20px;
}

.news-items {
	text-align: left;
}

p.description, .summary, .back a, .navigation a {
	font: italic 13px Verdana, Times New Roman;
	
}

p.description, p.date, .widget-title, .news-item h3 a, 
.world-progress-item, .news-cpt h2 a, 
.post-info, .summary, h1.entry-title, .wow-roster-item {
	color: #bcbcbc;
}

p.date, .post-info {
	margin-bottom: 10px;
	font: bold 13px Verdana, Times New Roman;
}

.news-item h3 a, .news-cpt h2 a, h1.entry-title {
	font: 40px MyriadProBoldCond, Times New Roman;
	text-decoration: underline;
}

.news-item h3 a:hover, .news-cpt h2 a:hover {
	color: #f5f1f1;
}

.news-item h3 {
	margin-bottom: 10px;
}

.blackBtn {
	background-color: black;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 5px;
	color: #f58220!important;
	font: 20px Arial, Times New Roman;
	-webkit-box-shadow: 0px 0px 1px 1px black;
	-moz-box-shadow: 0px 0px 1px 1px black;
	box-shadow: 0px 0px 1px 1px black;
}

.blackBtn:hover {
	text-decoration: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#world-progress {
	margin-top: 60px;
	margin-left: 20px;
}

#world-progress-widget {
	text-align: left;
}

.world-progress-item {
	display: inline-block;
	margin: 10px;
	width: 80px;
}

.world-progress-item img {
	border: 3px solid #bcbcbc;
	margin-bottom: 5px;
}

.world-progress-item h3, #world-progress-error, #world-roster-error {
	font: 22px MyriadProBoldCond, Times New Roman;
}

.world-progress-item p {
	font: italic 12px Verdana, Times New Roman;
}

#world-progress-error, #world-roster-error {
	text-align: center;
	margin-top: 50px;
}

.archive-title {
	font: 40px MyriadProRegular, Times New Roman;
	color: #f5f1f1;
	margin-top: 30px;
}

.news-cpt {
	padding-left: 40px;
	padding-right: 40px;
}

.news-cpt span.back a {
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
}

div.news-cpt div[type="archivenews"] {
	border-top: 1px solid #bcbcbc;
	padding-top: 30px;
	margin-bottom: 0!important;
}

div.news-cpt :first-child {
	border: 0!important;
}

.summary {
	text-align: right;
}

.summary p {
	text-align: justify;
}

.summary a, .back a, .navigation a, .navigation,
#right-sidebar a, #bbp-user-navigation a {
	color: white;
}

#bbp-user-navigation ul li.current a {
	color: black;
}

#guild-members, #post-162, #respond {
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 30px;
}

.bbp-logged-in {
	padding-left: 30px;
}

#scroller {
	position: fixed;
	right: 1%;
	bottom: 20%;
	background: url('images/upBtn.png');
	width: 46px;
	height: 46px;
	cursor: pointer;
	display: none;
}

/*FORUM*/

.bbp-breadcrumb, .bbp-template-notice, .bbp-header,
.bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-footer,
article.reply aside.wow-recruit {
	display: none;
}

#bbpress-forums:before {
	content: "Форум Гильдии";
	font: 40px MyriadProBoldCond, Times New Roman;
	display: block;
}

p.bbp-forum-title {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 20px;
	background: #595959;
	font: bold 18px Verdana, Times New Roman;

}

.bbp-forums {
	border: none!important;
}

.bbp-body ul {
	background: #ebebeb!important;
	border: 0!important;
}

.bbp-forums-list img {
	margin-right: 10px;
	vertical-align: top;
}

li.bbp-forum {
	display: block!important;
}

.bbp-forum-link, div.bbp-topic-meta a.lastMessageTitle {
	color: black!important;
	font: bold 14px Tahoma, Times New Roman!important;
}

.bbp-forum-link:hover {
	color: #4a4a4a!important;
	text-decoration: underline;
}

.bbp-forum-link p.counters, p.lastmessage, .bbp-topic-meta div:last-child, 
.bbp-topic-meta div:last-child a {
	color: #4a4a4a;
	font: 15px Tahoma, Times New Roman;
}

.bbp-topic-meta {
	padding-top: 10px;
}

.bbp-topic-meta div:first-child {
	float: left;
}

.bbp-topic-meta div:last-child {
	text-align: left;
	overflow: hidden;
	padding-left: 15px;
}

#bbp_topics_widget-5 ul li div:last-child {
	overflow: hidden;
}

#bbpress-forums:before {
	color: white;
}

.lastMessageTitle {
	display: block;
}

a.bbp-author-avatar img {
	border: 1px solid #bcbcbc;
}

.bbp-forum-link p.counters {
	margin-top: 8px;
}

.aboutforum {
	display: inline-block;
}

li.bbp-forum-freshness {
	width: 40%!important;
}

p.lastmessage {
	margin-bottom: 8px;
}

p.bbp-topic-meta > a {
	text-align: left;
	display: block;
}

p.bbp-topic-meta span {
	display: block;
	margin-bottom: 15px;
}

a.lastMessageTitle {
	padding-bottom: 5px;
}

p.bbp-topic-meta span a {
	padding-left: 10px;
}

.bbp-userstatus-wrapper a, .bbp-logged-in a, aside.widget_display_topics h1 {
	font: bold 18px Verdana, Times New Roman;
}

.bbp-userstatus-wrapper a:hover, .bbp-logged-in a:hover {
	color: #f58220!important;
	text-decoration: none;
}

.bbp-userstatus-wrapper, .bbp-logged-in {
	padding: 12px 20px;
	background: black;
	color: #bcbcbc;
	text-align: center;
}

.bbp_widget_login {
	margin-bottom: 0;
}

#bbpress-forums div.col-md-4.col-md-offset-8 {
	padding-right: 0;
}

#bbpress-forums div.col-md-4.col-md-offset-8 a {
	color: white!important;
}

#bbpress-forums div.col-md-4.col-md-offset-8 a:hover {
	color: #f58220!important;
}

#user-register {
	padding-left: 7%;
}

#user-submit {
	padding-right: 29%;
}

aside.widget_display_topics ul li, aside.widget_display_topics h1 {
	background: #3d3d3d;
	margin-bottom: 3px;
}

aside.widget_display_topics ul {
	list-style: none;
	margin: 0;
}

aside.widget_display_topics h1 {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 16px;
	text-align: left;

}

aside.widget_display_topics ul li {
	height: 118px;
	padding: 20px 25px;
	color: white;
}

aside.widget_display_topics ul li img {
	vertical-align: bottom;
	margin-right: 20px;
	float: left;
}

aside.widget_display_topics ul li a {
	color: white!important;
}

aside.widget_display_topics ul li a.bbp-forum-title {
	font: bold 14px Tahoma, Times New Roman;
}

.last-topics-footer {
	margin-top: 10px;
}

#bbpress-status-footer ul {
	list-style: none;
	text-align: center;
	margin-top: 65px;
}

#bbpress-status-footer ul li {
	display: inline-block;
	color: #e0e0e0;
	font: 15px Tahoma, Times New Roman;
}

#bbpress-status-footer ul li strong {
	color: black;
	background: #a9a9a9;
	border-radius: 3px;
	width: 45px;
	height: 30px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	-webkit-box-shadow: inset 0px 0px 3px 2px black;
	-moz-box-shadow: inset 0px 0px 3px 2px black;
	box-shadow: inset 0px 0px 3px 2px black;
	padding: 3px 0px;
	font: bold 18px Tahoma, Times New Roman;
}

.bbp-pagination-count, legend, label, select, 
.bbp-topic-started-by, .bbp-topic-freshness {
	font: 15px Tahoma, Times New Roman;
}

.bbp-body ul.topic.type-topic {
	background: #ebebeb!important;
	padding: 15px!important;
	border-top: 3px solid #272727!important;
}

.bbp-body ul.topic.type-topic a {
	color: #4a4a4a;
}

.bbp-topic-permalink, li.bbp-topic-freshness a.bbp-author-name {
	color: black!important;
	font: bold 14px Tahoma, Times New Roman!important;
}

li.bbp-topic-freshness {
	width: 45%;
}

.bbp-forum-title, aside.widget_display_topics h1 {
	color: #dadada;
}

.bbp-topics {
	border: 0!important;
}



.bbp-topic-freshness > a {
	display: block;
	margin-top: 10px;
	color: #4a4a4a!important;
}

.bbp-topic-meta {
	color: #4a4a4a!important;
}

.bbp-topic-started-by a.bbp-author-name, .bbp-topic-freshness {
	color: #4a4a4a!important;
}

.bbp-body ul.topic.type-topic.sticky li.bbp-topic-title:before {
	content: '[Прикреплено]';
	font: 14px Tahoma, Times New Roman;
	color: black;
	margin-right: 5px;
}

.bbp-body ul.topic.type-topic li.bbp-topic-title {
	list-style: disc!important;
	list-style-position: inside!important;
	font-size: 18px;
}

.bbp-body ul.topic.type-topic li.bbp-topic-title span {
	padding-left: 15px;
}


.bbp-body ul.topic.type-topic a.bbp-topic-permalink:hover {
	text-decoration: none;
	color: #4a4a4a!important;
}

.bbp-admin-links a, .bbp-admin-links {
	color: black!important;
}

.bbp-topic-tags a {
	color: white;
}

#bbp-user-navigation a {
	font: 14px Tahoma, Times New Roman;
}

article.forum, article.topic, article.reply, #post-0 {
	background: url(images/orc2.png) 43% -1% no-repeat;
}


#bbpress-online-footer, #bbpress-online-details-footer, 
#bbpress-scroll-top-footer {
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 15px;
	padding-bottom: 16px;
	font: 15px Tahoma, Times New Roman;
}

#bbpress-online-footer {
	background: #3d3d3d;
}

#bbpress-online-footer, #bbpress-forums div.bbp-breadcrumb a, 
.bbp-pagination, legend, label, #bbp-user-body, .bbp-submit-wrapper a, 
.bbp-topic-tags {
	color: #fdfdfd;
}

#bbpress-online-details-footer {
	background: #d7d7d7;
	color: #272727;
}

#bbpress-scroll-top-footer {
	background: #595959 url('images/footerUpBtn.png') center no-repeat;
	cursor: pointer;
}

#bbpress-online-details-footer p {
	margin-bottom: 10px;
}

#bbpress-online-footer p {
	margin: 0;
}

#bbpress-online-footer a {
	color: #fdfdfd;
}

#bbpress-forums fieldset.bbp-form {
	border: 2px inset #eee;
	border-radius: 10px;
}

.bbp-reply-header {
	background: #c5c5c5!important;
}

ul.bbp-replies {
	border: 0!important;
}

#bbpress-forums div.bbp-forum-author, 
#bbpress-forums div.bbp-topic-author, 
#bbpress-forums div.bbp-reply-author {
	border-right: 1px solid #c5c5c5;
	font: 14px Tahoma, Times New Roman;
}

#bbpress-forums div.bbp-forum-author a, 
#bbpress-forums div.bbp-topic-author a, 
#bbpress-forums div.bbp-reply-author a {
	color: black;
}

a.bbp-reply-permalink {
	color: #3d3d3d!important;
}

.bbp-topic-revision-log img, .bbp-reply-revision-log img {
	display: none!important;
}
.bbp-topic-revision-log a, .bbp-reply-revision-log a {
	color: black!important;
}

.bbp-pagination-links span, .bbp-pagination-links a:hover {
	color: black;
}

.bbp-pagination-links a {
	color: white;
}

.bbp-reply-content {
	font-size: 14px;
	color: black;
}

#bbpress-forums div.even, #bbpress-forums div.odd, div.bbp-reply-header {
	border: 1px solid black;
	border-collapse: collapse;

}

fieldset.bbp-form span.description {
	color: black!important;
}

ul.bbp-topic-revision-log, ul.bbp-reply-revision-log {
	background: transparent!important;
	border-top: 1px solid #c5c5c5!important;
}

/*SIDEBAR*/

#right-sidebar {
	padding-right: 40px;
	padding-top: 30px;
	padding-left: 0;
}

.widget-title {
	text-align: center;
	font: 23px MyriadProRegular, Times New Roman;
}

.wow-recruit-widget a.blackBtn {
	margin-top: 25px;
}


/*ROSTER*/

#wow-roster h1.widget-title {
	font: 40px MyriadProBoldCond, Times New Roman;
	margin-bottom: 40px;
	margin-left: 15px;
	text-align: left;
}

#wow-roster-widget div.row {
	margin-bottom: 30px;
}

.wow-roster-item h2 {
	font: 32px MyriadProBoldCond, Times New Roman;
	margin-bottom: 5px;
}
.wow-roster-item > div {
	padding: 8px 0px 8px 15px;
}

.wow-roster-item p {
	font: 14px Verdana, Times New Roman;
	text-decoration: underline;
	margin-bottom: 5px;
}

.wow-roster-item a {
	color: #bcbcbc;
}

.wow-roster-item a:hover {
	color: white;
}

.wow-roster-item div {
	min-height: 230px;
}

#post-22 div.entry-content, section.error-404, body.search section#primary {
	background: url(images/orc2.png) 98% 0% no-repeat;
}

/*404*/

section.error-404 {
	padding: 130px 40px 30px 40px;
	min-height: 400px;
	font: 20px Verdana, Times New Roman;
	color: #bcbcbc;
	text-align: center;
}

/*SEARCH*/

body.search section#primary {
	padding-top: 30px;
}

body.search div#content {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
}

body.search footer.entry-footer, body.search article#post-235, 
body.search div.nav-links {
	display: none;
}

body.search article, body.search article a, body.search h1.page-title, 
body div.page-content {
	color: #bcbcbc!important;
}

body.search h1.page-title, body div.page-content {
	margin-bottom: 30px;
}


/*FOOTER*/

.site-info {
	padding-top: 50px;
	color: white;
	font: 15px MyriadProRegular, Times New Roman;
}

.site-info a {
	color: white;
	text-decoration: underline;
}

.site-info p {
	text-align: center;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
